html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 356px;
    margin: 0 auto;
    text-align: center;
    font-family: 'McLaren', cursive;
    background-color: black;
}

main {
    background-image: linear-gradient(to top left, grey, darkgrey);
    padding: 20px;
    border-radius: 8px;
    border-top: 1px rgb(95, 95, 95) solid;
    border-right: 5px rgb(95, 95, 95) solid;
    border-left: 1px rgb(95, 95, 95) solid;
    border-bottom: 7px rgb(95, 95, 95) solid;
}

h1 {
    margin: 50px 0;
    font-size: 40px;
    color: rgb(255, 255, 255);
}

section#calc-top {
    margin-bottom: 30px;
    display: grid;
    align-items: center;
    grid-template-columns: 70px auto 70px;
}

section#calc-top button {
    font-weight: bold;
    background-color: rgb(228, 224, 224);
    height: 40px;
    border: none;
}

div#display {
    margin: 0 10px;
    padding: 10px;
    height: 60px;
    outline: none;
    border-radius: 6px;
    text-align: right;
    /*border: 1px #d3d3d3 solid;*/
    transition: all 0.3s;
    box-shadow: 0 0 5px inset;
}

div#expression {
    font-size: 12px;
}

div#input {
    margin-top: 10px;
    font-weight: bold;
}

section#calc-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    height: 310px;
    width: 100%;
}

button {
    height: 70px;
    width: 70px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    background-color: rgb(228, 224, 224);
    font-size: large;
    border: 1px solid rgb(255, 255, 255);
}

button.btn-operator {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    border: none;
}

button#equals {
    background-color: #00ff00;
    border: none;
    color: rgb(0, 0, 0);
}

button:active, button#equals:active, section#calc-top button:active {
    border: 2px solid rgb(255, 255, 255);
}