html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

body {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-family: 'McLaren', cursive;
}

h1 {
    margin: 50px 0;
    font-size: 40px;
}

section#calc-top {
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 70px auto 70px;
}

section#calc-top button {
    font-weight: bold;
    background-color: rgb(247, 140, 140)
}

div#display {
    margin: 0 5px;
    padding: 10px;
    height: 60px;
    outline: none;
    border-radius: 6px;
    text-align: right;
    border: 1px #d3d3d3 solid;
    transition: all 0.3s
}

div#expression {
    font-size: 12px;
}

div#input {
    margin-top: 10px;
    font-weight: bold;
}

section#calc-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

button {
    height: 40px;
    border-radius: 6px;
    outline: none;
    cursor: pointer;
    background-color: rgb(228, 224, 224);
}

button.btn-operator {
    background-color: #7795e9;
}

button#equals {
    background-color: #67e667;
}